body {
  background-color: #6495ed;
  background-image: url('../img/backgrounds/1.jpg');
  background-size: cover;
}

section {
  margin: 50px auto;
  width: 700px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  margin-bottom: 10px;
}

form h1 {
  text-transform: uppercase;
  color: green;
  font-weight: 1000;
  font-size: 28px;
}

form p {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.form-group input {
  font-size: 18px;
  color: black;
}

.form-group input,
.form-group select {
  margin-top: 10px;
  width: 97%;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}
.form-group select {
  width: 100%;
  font-size: 18px;
}

fieldset {
  text-align: left;
  border: none;
}

label {
  color: black;
  font-weight: 600;
  line-height: 2em;
  font-size: large;
}

.f1-buttons {
  text-align: right;
}

.f1-buttons button {
  font-size: larger;
  background-color: green;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 180px;
  height: 40px;
}

input[type='text']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
  color: black;
  font-style: italic;
}
